<% include header %>
<main class="container">
  <div class="jumbotron text-center">
    <h1>People Power</h1>
    <p>Login or Register:</p>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
  </div>
  <% if(user){ %>
      Ask a question!
      <form action="/create_question" method="post">
        <div class="form-group">
          <textarea cols="40" rows="5" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Ask</button>
      </form>
  <% } %>  
</main>
<% include footer %>

