extend layout
block content
  ul
    li #{message}
  h1 People Power lets you ask questions to the public and to your local representatives. 
    if user
      a(href='question/ask') Ask here  
  h2 Questions being asked now...
  include question/index
  

